@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  font: 400 14px "Open Sans", sans-serif;
  color: #181818;
  background: #fafafa;
  overflow-x: hidden;
}
